<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    <!-- header part -->
    {{ partial "header.html" . }}
</head>

<body lang="{{ .Site.LanguageCode }}">
    <div class="container">
        <!-- list part -->
        {{ partial "li.html" . }}

        <!-- navigation bar part -->
        {{ partial "menu.html" . }}

        <!-- copyright part -->
        {{ partial "sub_footer.html" . }}
    </div>

    <!-- some external JavaScript scripts -->
    {{ partial "footer.html" . }}
</body>
</html>
