<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    <!-- header part -->
    {{ partial "header.html" . }}
</head>

<body lang="{{ .Site.LanguageCode }}">
    <div class="container">

        {{ partial "avatar.html" . }}

        {{ partial "info.html" . }}

        {{ partial "social.html" . }}

        {{ partial "main_menu.html" . }}

        <!-- copyright part -->
        {{ partial "sub_footer.html" . }}
    </div>

    <!-- some external JavaScript scripts -->
    {{ partial "footer.html" . }}
</body>
</html>

